body {
    background-color: rgb(22, 21, 21);
   /*background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    background-size: auto;
    background-repeat: no-repeat;*/

}
li {
    display: inline;
    margin: 20px;
}
nav {
    background-color: rgb(22, 21, 21);
    padding: 5px;
    margin-bottom: 50px;
}
a{
    color: black;
    text-decoration: none;
}
nav a:hover{
    background-color: lightsalmon;
}
div{
    display: flex;
    flex-direction: column;
}
h2{
    color: white;
    padding: 10px;
    margin: 10px;

}

section:nth-child(2){
    text-align: right;
}

section{
    background-color: rgba(36, 34, 34, 0.5);
    border: 5px solid black;
    box-shadow:
    0 0 8px black,
    inset 0 0 8px black,
    0 0 16px #17C3B2,
    inset 0 0 16px black;
    margin: 20px;
    border-radius: 10px;
}
#btn, #btnR, .contact-form button  {
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
}
   
#btn::before, #btnR::before, .contact-form button::before{
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
}
   
#btn:hover::before, #btnR:hover::before, .contact-form button:hover::before  {
    width: 105%;
}
   
#btn:hover, #btnR:hover, .contact-form button:hover {
    color: #111;
}
p {
    margin: 10px;
    color: white;
}

#reseaux ul {
    list-style: none;
    padding: 0;
}

#reseaux ul li {
    margin-bottom: 10px;
}

#reseaux ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#reseaux ul li a i {
    margin-right: 10px;
}
#reseaux {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#reseauS {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    padding: 20px;   
}
.contact-form {
 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: fit-content;
    margin: 50px;
    color: white;
    text-align: left;
}
.contact-form h2 {
    margin-bottom: 15px;
}
.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}



