body {
    background-color: rgb(22, 21, 21);
   /*background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    background-size: auto;
    background-repeat: no-repeat;*/
}
li {
    display: inline;
    margin: 20px;
}
nav {
    background-color: rgb(22, 21, 21);
    padding: 5px;
    margin-bottom: 50px;
}
a{
    color: red;
    text-decoration: none;
}

#btn, #btnR {
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
    width: 100%;
    display: block;
}
   
#btn::before, #btnR::before{
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
}
   
#btn:hover::before, #btnR:hover::before  {
    width: 105%;
}
   
#btn:hover, #btnR:hover {
    color: #111;
}
nav #btn, nav #btnR {
    width: auto; /* Changer "100%" en "auto" pour la barre de navigation */
    display: inline-block; /* Changer "block" en "inline-block" pour la barre de navigation */
}

#btn:hover::before, #btnR:hover::before {
    width: 105%;
}

#btn:hover, #btnR:hover {
    color: #111;
}
div {
    display: flex;
    justify-content: space-evenly;

}

aside{
    border: solid 2px pink;
}

h1, h2, p{
    color: white;
}
.titre {
    text-align: center;
    color: white;
}
.sujet{
        background-color: rgba(36, 34, 34, 0.5);
        border: 5px solid black;
        box-shadow:
        0 0 8px black,
        inset 0 0 8px black,
        0 0 16px #17C3B2,
        inset 0 0 16px black;
        margin: 20px;
        border-radius: 10px;
        padding: 10px;
}
.sous-titre{
    text-align: center;
}
td {
    width: 100%;
}
#explicatif{
    margin-left: 150px;
    margin-right: 150px;
}

.gallery {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap; 
}

.gallery figure {
    margin: 0; 
    text-align: center; 
}

.gallery img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    border: 1px solid #ddd; 
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1); 
}

.gallery figcaption {
    margin-top: 8px;
    font-style: italic;
    color: #ddd; 
}


